@charset "UTF-8";
#header {
	font-family: 'Roboto', serif;
	font-size: 25px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: small-caps;
	text-transform: none;
	color: #000000;
	background-color: #FFFFFF;
	word-spacing: normal;
	text-align: center;
	padding-top: 3px;
}
.profile {
    float: right;
    position: relative;
    top: 3px;
    right: 5px;
}
.burger {
	float: left;
    position: relative;
    top: 3px;
    left: 5px;
}
.ui-content {
	text-align: left;
}

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #000000; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font: "Roboto";
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Add profile photo top left and invert colours */
.sidenav .navprofile {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 36px;
    height: 36px;
    filter: invert(100%);
}

/* Add settings top right and invert colours */
.sidenav .navsettings {
    position: absolute;
    top: 20px;
    right: 55px;
    width: 36px;
    height: 36px;
    filter: invert(100%);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 